:root{
	/*letter*/
		--letter: 24pt;
		--sub-letter: 16pt;

	/*dimenciones*/
		--apertura: 8pt;
		--alto: 74px;
		--apertura-min: calc(var(--apertura) / 2);
		--apertura-max: calc(var(--apertura) * 2);
		--altura-min: calc(var(--alto) / 2);
		--altura-max: calc(var(--alto) * 2);
		--grosor: 3pt;

	/*virtual dimensions*/
		--vh: 100%;

	/*colores*/
		--primary: #30A7BF;
		--secondary: #18191A;
		--light: #FFF9F2;
		--secondary-light: #CCC7C2;
		/*dark colors*/
		--second-light: #004E66;
		--thrid-light: #2E3033;
		--alert: #F26101;
		--fine: #2E7F33;
}

/*general*/
	*{
		margin: 0;padding: 0;
		transition: all .5s cubic-bezier(0.59, 0.02, 0.4, 1);
	}
	body{
		background: var(--light);
	}

/*general boxes*/
	content{
		display: block;
		width: 100vw;
		height: calc(var(--vh) - var(--alto));
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
	footer{
		display: block;
		width: 100vw;
		height: var(--vh);
		position: fixed;
		background: var(--secondary-light);
		z-index: 2;
		bottom: calc(-1 * var(--vh));
		left: 0;
	}
/*mapa*/
	body>content {
		overflow: auto;
		height: 100vh;
	}
	area{
		background: red;
	}
/*nav*/
	nav{
		width: 100vw;
		height: var(--alto);
		display: block;
		position: absolute;
		left: 0;
		top: calc(-1 * var(--alto));
	}
	/*search*/
		#search{
			width: calc(var(--alto) - var(--apertura-max));
			height: calc(var(--alto) - var(--apertura-max));
			position: absolute;
			border: solid var(--grosor) var(--secondary);
			border-radius: var(--alto);
			top: 50%;
			left: 0%;
			transform: translate(var(--apertura), -50%);
		}
		.extendSearch{
			width: calc(100% - var(--apertura-max)) !important;
			background: var(--second-light) !important;
			border: solid var(--grosor) var(--second-light) !important;
			box-shadow: 0px 6px 14px #002733 !important;
		}
		/*btnClose*/
			#btnClose{
				width: calc(var(--alto) - var(--apertura-max));
				height: calc(100% - var(--apertura-min));
				position: absolute;
				top: 50%;
				left: var(--apertura-min);
				transform: translate(0%, -50%);
				display: none;
			}
			/*icon*/
				#btnClose .line{
					width: var(--grosor);
					height: 25pt;
					position: absolute;
					top: 50%;
					left: 50%;
					background: var(--light);
				}
				#btnClose .line:first-child{
					transform: translate(-50%,-50%) rotate(45deg);
				}
				#btnClose .line:last-child{
					transform: translate(-50%,-50%) rotate(-45deg);
				}
		/*btnSearch*/
			#btnSearch{
				width: calc(var(--alto) - var(--apertura-max));
				height: calc(100% - var(--apertura-min));
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
			}
			/*icon*/
				#btnSearch .circle{
					position: absolute;
					top: var(--apertura-min);
					left: var(--apertura-min);
					width: calc(100% - var(--apertura-max));
					height: calc(calc(var(--alto) - var(--apertura-max)) - var(--apertura-max));
					border-radius: var(--alto);
					border: solid var(--grosor) var(--secondary);
					box-sizing: border-box;
				}
				#btnSearch .line{
					width: var(--grosor);
					height: 15pt;
					position: absolute;
					bottom: var(--apertura);
					right:  var(--apertura);
					background: var(--secondary);
					transform: translate(-50%,50%) rotate(-50deg);
				}
				.cross-f{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(calc(-1 * calc(var(--alto) - var(--apertura-min)) / 128), -50%) rotate(45deg);
					height: 30pt !important;
					width: var(--grosor) !important;
					border: transparent !important;
					background: var(--secondary) !important;
				}
				.cross-s{
					top: 50%;
					left: 50%;
					position: absolute;
					transform: translate(calc(-1 * calc(var(--alto) - var(--apertura-min)) / 128), -50%) rotate(-45deg);
					height: 30pt !important;
					height: 30pt !important;
					width: var(--grosor) !important;
					background: var(--secondary) !important;
				}
		input#inSearch{
			width: 100%;
			height: calc(100% - var(--apertura-min));
			background: transparent;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: none;
			color: var(--light);
			font-size: var(--letter);
		}
		input:focus{
			outline: var(--light);
		}

	/*updwn*/
		#btnUpdwn{
			background: var(--secondary);
			width: var(--altura-max);
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0px 2px 10px #0C0C0D;
		}
		.topRound{
			border-top-left-radius: var(--alto);
			border-top-right-radius: var(--alto);
		}
		.bottomRound{
			border-bottom-left-radius: var(--alto);
			border-bottom-right-radius: var(--alto);
		}
		/*icon*/
			#btnUpdwn .line{
				width: var(--grosor);
				height: 25pt;
				position: absolute;
				top: 50%;
				left: 50%;
				background: var(--light);
			}
			#btnUpdwn .line:first-child{
				transform: translate(-250%,-50%) rotate(45deg);
			}
			#btnUpdwn .line:last-child{
				transform: translate(250%,-50%) rotate(-45deg);
			}

	/*config*/
		#btnConfig{
			width: calc(var(--alto) - var(--apertura-max));
			height: calc(100% - var(--apertura-max));
			position: absolute;
			border: solid var(--grosor) var(--secondary);
			border-radius: var(--alto);
			top: 50%;
			right: 0%;
			transform: translate(calc(-1 * var(--apertura)), -50%);
		}
		/*icon*/
			#iconConfig{
				width: calc(var(--alto) - var(--apertura-max) - var(--apertura-min));
				height: calc(var(--alto) - var(--apertura-max) - var(--apertura-min));
				position: absolute;
				top: calc(var(--apertura-min) / 2);
				left: calc(var(--apertura-min) / 2);
				-webkit-mask: url(config.svg) center center / cover;
				mask: url(config.svg) center center / cover;
				background: var(--secondary);
				border-radius: var(--alto);
			}
/*content*/
	footer>content{
		position: absolute;
		top: auto;
		left: 0;
		bottom: 0;
		width: 100vw;
	}
	/*config*/
		#config{
			width: 100%;
			height: 100%;
			position: absolute;
			right: -100vw;
			overflow-y:auto;
		}
		#fontsize>div{
			margin: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			justify-content: center;
			width: calc(100% - var(--apertura));
			text-align: center;
		}
		#fontsize input{
			margin-top: var(--apertura-min);
			width: 100%;
		}
		#login{
			height: auto;
		}
		#login>div{
			height: calc(var(--alto) - var(--apertura));
			margin: var(--apertura);
			display: block;
			position: relative
		}
		#btnLoggin{
			background: var(--second-light);
			box-shadow: 0px 5px 12px #002733;
		}
		#btnLoggin p{
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: fit-content;
			color: var(--light);
		}
		#login input {
			border: none;
			border-bottom: solid 2pt var(--primary);
			background: transparent;
			width: 100%;
			height: var(--letter);
		}
	/*list*/
		#list{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			overflow-x: hidden;
			overflow-y: auto;
		}
		#list>div{
			position: relative;
			display: block;
		}
		#list .card {
			max-width: 400px;
		}
		/*cards*/
			.card{
				height: var(--alto);
				width: calc(100% - var(--apertura-max));
				margin: var(--apertura);
				background: var(--light);
				position: relative;
				display: inline-grid;
				box-shadow: 0px 2px 10px #8C8985;
			}
			/*road*/
				#header{
					background: var(--second-light);
					position: relative;
					box-shadow: 0px 5px 12px #002733;
				}
				#header .line{
					background: var(--light) !important;
				}
				.hosues{
					height: calc(var(--alto) - var(--apertura));
					width: calc(100% - var(--apertura));
					margin: var(--apertura-min);
					display: contents;
					position: relative;
				}
			.card>div{
				height: calc(var(--alto) - var(--apertura));
				margin: var(--apertura);
				display: block;
				position: absolute;
			}
			/*casas*/
				#casa{
					display: inline-block;
					top: 50%;
					left: calc(50% / 3);
					text-align: center;
					justify-content: center;
					transform: translate(-50%, -70%);
				}
			/*estado*/
				#estado{
					top: var(--apertura-min);
					left: 50%;
					text-align: center;
					transform: translate(-70%, -20%);
				}
				/*checkbox*/
					#estado input{
						margin-top: var(--apertura);
					}
			/*mas*/
				#btnSeeMore{
					top: var(--apertura-min);
					right: calc(50% / 3);
					text-align: center;
					width: calc(var(--alto) - var(--apertura));
					transform: translate(50%, -20%);
				}
				#btnSeeMore>div {
					height: var(--apertura);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: inline-flex;
				}
				#btnSeeMore #circle{
					border-radius: var(--altura-max);
					border: solid var(--thrid-light);
					box-sizing: border-box;
					margin: 2pt;
				}
	/*see more*/
		#seeMore{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: -100vw;
			bottom: 0;
			overflow-y: auto;
		}
		#seeMore>div{
			width: calc(100% - var(--apertura-max)) !important;
			margin: var(--apertura);
			background: var(--light);
			position: relative;
		}
		#notas{
			height: calc(100% - var(--alto));
			box-shadow: 0px 2px 10px #8C8985;
		}
		#seeMore .card{
			width: 100%;
			background: var(--thrid-light);
			box-shadow: 0px 2px 10px #16171A;
		}
		#notas .card{
			margin: 0;
		}
		#btnCloseSeeMore{
			width: calc(var(--alto) - var(--apertura-max));
			height: calc(100% - var(--apertura-max));
			position: absolute;
			top: 50%;
			right: 15%;
			transform: translate(75%, -75%);
		}
		/*icon*/
			#btnCloseSeeMore .line{
				width: var(--grosor);
				height: 25pt;
				position: absolute;
				top: 50%;
				left: 50%;
				background: var(--primary);
			}
			#btnCloseSeeMore .line:first-child{
				transform: translate(150%,-50%) rotate(35deg);
			}
			#btnCloseSeeMore .line:last-child{
				transform: translate(-200%,-10%) rotate(-45deg);
				height: 12pt;
			}
			#marca input{
				position: absolute;
				top: 50%;
				right: 15%;
				transform: translate(50%, -50%);
			}
		.notes{
			background: transparent;
			width: calc(100vw - var(--apertura-max));
			height: calc(100% - var(--alto));
			background: transparent;
			position: absolute;
			top: var(--alto);
			left: 0px;
			border: none;
			color: var(--secondary) !important;
			font-size: var(--letter);
			font-family: sans-serif;
			padding: var(--apertura-min);
			box-sizing: border-box;
		}
/*fonts*/
	p{
		color: var(--second-light);
		font-size: var(--sub-letter);
		font-family: sans-serif;
	}
	h1{
		color: var(--thrid-light);
		font-size: var(--letter);
		font-family: sans-serif;
	}
	#seeMore h1, #seeMore p{
		color: var(--light);
		font-size: var(--letter);
		font-family: sans-serif;
		position: absolute;
		top: 50%;
		left: var(--apertura-min);
		transform: translateY(-50%);
	}
	#seeMore p{
		left: calc(100% - 15%);
		transform: translate(-50%, -50%);
	}
	#tipo p{
		transform: translate(-75%, -50%);
	}
	#header h1{
		color: var(--light);
		font-size: var(--letter);
		font-family: sans-serif;
		position: absolute;
		top: 50%;
		left: var(--apertura-min);
		transform: translateY(-50%);
	}
	.warning{
		color: var(--alert);
	}
	.fine{
		color: var(--fine);
	}
	input{
		font-size: var(--letter);
	}